# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/
database/deaths_cumulative_daily.csv
database/newly_confirmed_cases_daily.csv
database/newly_confirmed_cases_detail_weekly.csv
database/newly_confirmed_cases_per_100_thousand_population_daily.csv
database/nhk_news_covid19_prefectures_daily_data.csv
database/pcr_case_daily.csv
database/pcr_tested_daily.csv
database/requiring_inpatient_care_etc_daily.csv
database/severe_cases_daily.csv
result/covid19_100k_MHLW.png
result/covid19_MHLW_00ALL_mag.png
result/covid19_MHLW_00ALL.png
result/covid19_MHLW_01Hokkaido_mag.png
result/covid19_MHLW_01Hokkaido.png
result/covid19_MHLW_02Aomori_mag.png
result/covid19_MHLW_02Aomori.png
result/covid19_MHLW_03Iwate_mag.png
result/covid19_MHLW_03Iwate.png
result/covid19_MHLW_04Miyagi_mag.png
result/covid19_MHLW_04Miyagi.png
result/covid19_MHLW_05Akita_mag.png
result/covid19_MHLW_05Akita.png
result/covid19_MHLW_06Yamagata_mag.png
result/covid19_MHLW_06Yamagata.png
result/covid19_MHLW_07Fukushima_mag.png
result/covid19_MHLW_07Fukushima.png
result/covid19_MHLW_08Ibaraki_mag.png
result/covid19_MHLW_08Ibaraki.png
result/covid19_MHLW_09Tochigi_mag.png
result/covid19_MHLW_09Tochigi.png
result/covid19_MHLW_10Gunma_mag.png
result/covid19_MHLW_10Gunma.png
result/covid19_MHLW_11Saitama_mag.png
result/covid19_MHLW_11Saitama.png
result/covid19_MHLW_12Chiba_mag.png
result/covid19_MHLW_12Chiba.png
result/covid19_MHLW_13Tokyo_mag.png
result/covid19_MHLW_13Tokyo.png
result/covid19_MHLW_14Kanagawa_mag.png
result/covid19_MHLW_14Kanagawa.png
result/covid19_MHLW_15Niigata_mag.png
result/covid19_MHLW_15Niigata.png
result/covid19_MHLW_16Toyama_mag.png
result/covid19_MHLW_16Toyama.png
result/covid19_MHLW_17Ishikawa_mag.png
result/covid19_MHLW_17Ishikawa.png
result/covid19_MHLW_18Fukui_mag.png
result/covid19_MHLW_18Fukui.png
result/covid19_MHLW_19Yamanashi_mag.png
result/covid19_MHLW_19Yamanashi.png
result/covid19_MHLW_20Nagano_mag.png
result/covid19_MHLW_20Nagano.png
result/covid19_MHLW_21Gifu_mag.png
result/covid19_MHLW_21Gifu.png
result/covid19_MHLW_22Shizuoka_mag.png
result/covid19_MHLW_22Shizuoka.png
result/covid19_MHLW_23Aichi_mag.png
result/covid19_MHLW_23Aichi.png
result/covid19_MHLW_24Mie_mag.png
result/covid19_MHLW_24Mie.png
result/covid19_MHLW_25Shiga_mag.png
result/covid19_MHLW_25Shiga.png
result/covid19_MHLW_26Kyoto_mag.png
result/covid19_MHLW_26Kyoto.png
result/covid19_MHLW_27Osaka_mag.png
result/covid19_MHLW_27Osaka.png
result/covid19_MHLW_28Hyogo_mag.png
result/covid19_MHLW_28Hyogo.png
result/covid19_MHLW_29Nara_mag.png
result/covid19_MHLW_29Nara.png
result/covid19_MHLW_30Wakayama_mag.png
result/covid19_MHLW_30Wakayama.png
result/covid19_MHLW_31Tottori_mag.png
result/covid19_MHLW_31Tottori.png
result/covid19_MHLW_32Shimane_mag.png
result/covid19_MHLW_32Shimane.png
result/covid19_MHLW_33Okayama_mag.png
result/covid19_MHLW_33Okayama.png
result/covid19_MHLW_34Hiroshima_mag.png
result/covid19_MHLW_34Hiroshima.png
result/covid19_MHLW_35Yamaguchi_mag.png
result/covid19_MHLW_35Yamaguchi.png
result/covid19_MHLW_36Tokushima_mag.png
result/covid19_MHLW_36Tokushima.png
result/covid19_MHLW_37Kagawa_mag.png
result/covid19_MHLW_37Kagawa.png
result/covid19_MHLW_38Ehime_mag.png
result/covid19_MHLW_38Ehime.png
result/covid19_MHLW_39Kochi_mag.png
result/covid19_MHLW_39Kochi.png
result/covid19_MHLW_40Fukuoka_mag.png
result/covid19_MHLW_40Fukuoka.png
result/covid19_MHLW_41Saga_mag.png
result/covid19_MHLW_41Saga.png
result/covid19_MHLW_42Nagasaki_mag.png
result/covid19_MHLW_42Nagasaki.png
result/covid19_MHLW_43Kumamoto_mag.png
result/covid19_MHLW_43Kumamoto.png
result/covid19_MHLW_44Oita_mag.png
result/covid19_MHLW_44Oita.png
result/covid19_MHLW_45Miyazaki_mag.png
result/covid19_MHLW_45Miyazaki.png
result/covid19_MHLW_46Kagoshima_mag.png
result/covid19_MHLW_46Kagoshima.png
result/covid19_MHLW_47Okinawa_mag.png
result/covid19_MHLW_47Okinawa.png
result/covid19_MHLW_All_7dMA_mag.png
result/covid19_MHLW_All_7dMA.png
result/covid19_MHLW.png
result/result.txt
result/twitter.txt
result/covid19_MHLW_ncr.png
